body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

#dica {
    font-style: italic;
    color: #007bff;  /* Alterado para uma cor mais visível */
}

#enigma {
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px 0;
    color: #333;
}

input {
    margin-top: 10px;
    padding: 10px;
    font-size: 1em;
}

button {
    margin-top: 10px;
    padding: 12px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

#feedback {
    margin-top: 15px;
    font-weight: bold;
    color: #28a745;
}
